# Dependencies
/node_modules
/.pnp
.pnp.js
yarn.lock
package-lock.json

# Testing
/coverage
/.nyc_output

# Next.js
/.next/
/out/
/build
.next
next-env.d.ts

# Production
/build
/dist

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
/.idea
/.vscode
*.swp
*.swo
.DS_Store
*.pem
.project
.classpath
*.launch
.settings/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Misc
*.log
.DS_Store
*.pem
.eslintcache
.npm

# Local files
/uploads
/temp 